<div>
    <h2>Editar Produto</h2>

    <form class="form-group container" (submit)="atualizarProduto()">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="id" class="form-label">ID do Produto:</label>
                    <input type="number" class="form-control" id="id" name="id" [(ngModel)]="produto.id" disabled>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do Produto</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="produto.nome">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="codigoDeBarras" class="form-label">Código de Barras</label>
                    <input type="text" class="form-control" id="codigoDeBarras" name="codigoDeBarras" maxlength="13"
                        [(ngModel)]="produto.codigoDeBarras">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="preco" class="form-label">R$ Valor</label>
                    <input type="number" class="form-control" id="preco" step="0.01" name="preco" min="1" [(ngModel)]="produto.preco">
                </div>
            </div>


        </div>
        <a class="btn btn-secondary me-1" routerLink="/produtos">Voltar</a>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>